* {
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

.tag {
  padding: 5px;
  margin: 5px;
  font-style: italic;
  border: 1px solid #ddd;
  display: inline-block;
}

.tag::before {
  content: "-";
}

.topTitle {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(128, 57, 57);
  padding-bottom: 10px solid black;
}

.box {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 5px;
}

.box:hover {
  background-color: #eee;
}

.ans {
  text-align: center;
  font-size: 0.8em;
}

.info,
.output {
  width: 80%;
  border: 1px solid #ddd;
  font-size: 1em;
  margin: auto;
}

.output1 {
  width: 80%;
  border: 1px solid #ddd;
  font-size: 1em;
  margin: auto;
  text-align: center;
}

input,
.btn {
  display: block;
  width: 100%;
  font-size: 1.2em;
  height: 45px;
  text-align: center;
}
